# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual Environment
venv/
.env

# Django
db.sqlite3

# Media files
media/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Hugging Face cache
.cache/
huggingface/

# Model downloads
models/

# PyTorch
*.pt
*.pth

# Jupyter
.ipynb_checkpoints/